doctype 5
html(ng:app)
    head
        title Fonts Maker
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        script(src="/js/jquery.js")
        script(src="/js/raphael-min.js")
        script(src="/js/angular.min.js")
        script(src="/js/bootstrap-button.js")
        script(src="/js/controllers.js")
        script(src="/js/shape.js")
        script(src="/js/index.js")
    body
        block content
